<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Страница ошибки</title>
        <meta property="og:title" content="Страница ошибки" />
        <meta property="og:description" name="description" content="Страница ошибки" />
        <meta property="og:keywords" name="keywords" content="ошибка" />
        <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>
    <body>
        <div class="container text-center">
        <br><br>
        <a href="/"><img width="200" src="/images/logo_top.png" alt="Logo"></a>
        <div><b style="font-size: 150px">404</b></div>
        <h3 class="text-center">Такой страницы не существует.</h3>
        <a href="/" class="btn btn-default btn-lg">Перейти на Главную</a>
        </div>
    </body>
</html>
