{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if label is empty %}
                {% set label = '&nbsp;' %}
            {% endif %}
            <div class="padding-5"><label>{{ label }}</label></div>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block money_widget %}
    {% spaceless %}
        {% set nn = name|split('_') %}
        <input class="form-control {{ nn[1] }}" type="text" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}>
    {% endspaceless %}
{% endblock money_widget %}