{% form_theme search_form 'SiteBundle:Form:fields.html.twig' %}

<div class="clearfix" id="search_form">
    {% if search_form %}
        <form class="form-horizontal clearfix" role="form" action="{{ path('site_catalog_index') }}" method="GET" {{ form_enctype(search_form) }} data-update="{{ path('site_catalog_update') }}" onSubmit="form_revision()">
            {{ form_widget(search_form) }}
        </form>
    {% endif %}
</div>
