{% extends 'AdminBundle::layout.html.twig' %}
{% form_theme form 'AdminBundle:Form:fields.html.twig' %}

{% block content %}
    <h1>Коммерческое предложение</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if form %}
        <form class="form-horizontal" role="form" method="POST" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    {% endif %}

{% endblock %}
