@font-face {
    font-family: 'Century Gothic';
    src: url('/fonts/font.ttf');
}
html {
    height: 100%;
}
body {
    font-size:16px;
	position: relative;
    padding-bottom: 280px;
    min-height: 100%;
    font-family: 'Century Gothic','Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 34px;
}
a:hover, a:focus {
    text-decoration: none;
}
.padding-0 {
    padding-left:0 !important;
    padding-right:0 !important;
}
.padding-5 {
    padding-left:5px !important;
    padding-right:5px !important;
}
.padding-top-5 {
    padding-top:5px !important;
}
.masthead {
    margin-top:10px;
    padding: 0;
}
.logo {
    max-height: 60px;
    max-width: 100%;
}
.navbar {
    min-height: 0;
    margin-bottom: 0;
	border:0;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}
.content {
  margin-bottom:40px;
  font-size:16px;
}
.btn-danger {
    background: #00a0e4;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:active:hover, .btn-danger:focus {
    color: #ffffff;
    background-color: #1f7ac3;
    border-color: #207ac4;
}
.modal-content {
	border-radius:0;
}
.modal-header {    
    color: #fff;
    font-weight: bold;
	background: #00a0e5;
}
.masthead .nav > li  a {
    position: relative;
    display: block;
    padding: 16px 10px;
    margin-right: 5px;
    color: #fff;
    font-size: 15px;
    -webkit-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
    border:0 !important;  
	line-height: 18px;
	text-transform: uppercase;
}
.masthead .dropdown-toggle {
    border: 0 !important;
}
.masthead .nav > li.active > a {
  background:#fff;
  color:#222;
}
.masthead .nav > li > a:hover, .masthead .nav > li > a:focus {
    color:#222;
}
.navbar-toggle {
    padding: 0;
    margin: 0;
}
.masthead .address {
    color: #333;
    font-size: 16px;
    margin-top:5px;
}
.masthead .address p {
  margin-bottom:0;  
}
.masthead .our_phones {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    margin-top:5px;
}
.fixed .btn-primary-o {    
    border-color: #00a0e5 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
#owl-first ,#owl-first .item {
    height: 400px;
    overflow: hidden;
}
@media (min-width: 768px){
    #owl-first ,#owl-first .item {
        height: 220px;
    }
}
@media (min-width: 992px){
    #owl-first ,#owl-first .item {
        height: 300px;
    }
}
@media (min-width: 1200px) {
    #owl-first, #owl-first .item {
        height: 500px;
    }
}
.carousel-control.right, .carousel-control.left {
    background: transparent;
}
.carousel-caption {    
    text-shadow: 0 2px 10px rgb(0, 0, 0);
}
.carousel-control .glyphicon-chevron-right { right:10%;}
.carousel-control .glyphicon-chevron-left { left:10%;}
#owl-first h1 {
    text-shadow: 2px 2px 10px #000;
}
#owl-first .img-slide {
    width: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-transition: 2s all;
    -o-transition: 2s all;
    transition: 2s all;
}
#owl-first .back {   
	-webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	z-index:2;
	background-color: rgba(0,0,0,.4);
}
#owl-first, #owl-first:hover .back {   
	background-color: rgba(0,0,0,.5);
}
/*#owl-first:hover .img-slide {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}*/
#owl-first .owl-controls .owl-pagination {
    position: absolute;
    bottom: 0;
    width:100%;
}
#owl-first .owl-controls .owl-page span {
    background: #FFF;
}
#owl-first .owl-next {
    right: 0;
}
#owl-first .owl-prev {
    left: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.search_objects {
    background: #fff;
    font-weight:bold;
    z-index: 999;
    margin-top: 0;
}
.search_objects .panel-group {
    margin-bottom: 0;
}
.search_objects .panel {
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.search_objects .panel-body {
    padding: 0;
}
.investments_top {
    margin-bottom: 10px;
	margin-top:10px;
}
.pay {
    padding-top: 0;
    padding-bottom: 40px;
	background: #e0f5ff;
}
.pay div {
    padding-top: 20px;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    border-radius:20px;
}

.pay div img { 
  width:40px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  opacity:.5;
}
.pay div h2 {   
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.pay div div:hover img {    
    opacity:.8;
}
.pay div h2 {
    font-size: 20px;
	color:#777;    
    text-transform: uppercase;
}
.pay div div:hover h2 {
    color:#333;
}
.green {
    color:#115a94;
}
.btn-sm, .btn-group-sm > .btn {
    border-radius: 0;
}
.why {
    padding-bottom: 20px;
	background:#f8f8f8;
}
.why > div > div {
    position: relative;
}
.why h2, .investments_top h2, .agents h2, .docs h2, .clients h2 {
  font-size: 28px;
}
.why .number {
    position: absolute;
    left:10px;
    font-size: 150px;
    line-height: 100px;
    color:#00a0e4;
    z-index: 1;
    opacity: .1;
	font-weight:900;
}
.why > .container > div:hover .number {
    opacity: .5;
}
.why .descr {
    padding: 60px 10px 10px 60px;
    z-index: 2;
    min-height: 250px;
    font-size: 14px;
}
.why .descr h4 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 0;
    font-weight: bold;
    color: #286ba0;
    text-shadow: 2px 2px 2px #fff;
    z-index: 9;
    position: absolute;
    top: 20px;
}
.agents {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 30px;
}
.docs .item img {
    padding:20px;
}
.clients {
  padding-bottom:5px;
  padding-top:5px;
}
#owl-clients .item {
    height: 200px;
    width: 100%;
    margin:auto;
    display: block;
    vertical-align: middle;    
}
#owl-clients .item div {
    background-position: 50% 60%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}
#owl-clients .item:hover div {
    background-position: 50% 55%;
}
#owl-clients .item {
    padding-left:20px;
    padding-right: 20px;
}
.footer {
    background: #222;
    color:#acacac;
    padding: 25px 0;
    min-height: 280px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 14px;
}
.footer img {
    padding-right: 40px;
    max-width: 160px;
}
.footer .nav > li > a {
    color: #DDD;
    padding-top:2px;
    padding-bottom:2px;
    font-size: 14px;
}
.footer .nav > li > a > b {
    text-transform: uppercase;
    color: #00a0e5;
}
.footer .nav > li > a:hover,.footer .nav > li > a:focus {
    color: #00a0e4;
    text-decoration: none;
    background-color: transparent;
}
.footer .our_phones {
	font-size:20px;
}
.footer .navbar-nav {
    float: none;
}
.footer .navbar-nav > li {
    float: none;
}
.nav .dropdown-menu > li > a:hover, .nav .dropdown-menu > li > a:focus {
    color: #262626;
    background-color: #b2e5fd;
}
.fixed .nav .dropdown-menu > li > a:hover, .fixed .nav .dropdown-menu > li > a:focus {
    color: #262626;
    background-color: #eee;
}
.footer a {
    color: #fff;
    text-decoration: none;
}
.footer a:hover {
    color: #79cbee;
}
.footer .faw .fa {
    color: #00a0e5;
    font-size: 16px;
    padding-right: 10px;
}
.fixed .masthead .nav > li > a {    
    padding: 17px 20px;
	color:#262626;
}
.fixed .navbar-nav > li > .dropdown-menu {
    background-color: #ffffff;
}
.fixed .nav .dropdown-menu > li > a {
    padding: 10px 20px;
    color: #272727;
}
.fixed .nav a:hover {    
    color: #02a0e4;
}
.catalog {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
.catalog .thumbnail{
  padding:0;
  overflow: hidden;
}
.catalog .thumbnail:hover {
    border-color: #00a0e5;
	box-shadow: 0 0 10px #999;
}
.catalog .thumbnail img {
    transition: 1s;
}
/*.catalog .thumbnail:hover img {
    transform: scale(1.05);
}*/
.catalog .thumbnail .caption {
    padding: 10px;
}
.catalog .thumbnail .caption td {
    padding: 2px 0;
    border-top: 1px solid #FAFAFA;
    font-size: 12px;
}
.catalog .caption table {
  margin-bottom:5px;
}
.breadcrumb {
    background-color: #fff;
}
.sl_img {
    height: 180px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
}
.slider-range {
    margin:35px 5px 0;
}
.form-control.from {
    border-right: 0;
}
.form-control.to, .form-control.from {
    width: 50%;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #ffffff;
    background-color: #00a0e4;
    border-color: #00a0e4;
    cursor: default;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #00a0e4;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
#map {
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    border: 1px solid #ddd;
    background: url('/images/loading_map.gif') 50% 50% no-repeat;
    background-size: 200px auto;
}
.object > div {
    margin-top:20px;
    margin-bottom:20px;
}
.object h1 {
	margin-top:0;
}
.red {
    color: #222 !important;
    font-size: 140%;
}
.fa-rub {
    font-size: 80% !important;
}
.feddback_margin {
    padding-top:50px;
    padding-bottom:50px;
	background: #00a0e5;
	background-size:cover;
	margin-bottom: -40px;
}
.feddback_margin h3 {
	color:#fff;
	font-size:30px;
	margin-top:10px;
	text-align:left;
}
.feedback_form .error {
    border-color: #00a0e4 !important;
}
.feedback_form p {
    line-height: 16px;
    font-size: 14px;
    color: #999;
    margin: 0;
    padding: 0;
}

a:focus {
    outline: 0 auto -webkit-focus-ring-color;
}
.dropdown-toggle {
  border: 1px solid #CCC !important;
}
.navbar-toggle {    
    border: 0;
    float:right;
	margin-top: 0;
}
.navbar-toggle .icon-bar {    
    border: 1px solid #fff;
}
.fixed .navbar-toggle .icon-bar {    
    border: 1px solid #333;
}
.fixed .navbar-toggle {
    margin-top: 10px;
}
#search_form {
    position: relative;
}
#search_form label {
    margin-top: 8px;
    margin-bottom: -1px;
    padding: 2px 0px;
    font-weight: normal;
    font-size: 13px;
    color: #007aae;
}
#search_form .open {
    background-color: #fff;
    border: 1px solid #058cc9;
    font-size: 16px;
}
#search_form .input-group > input {
    width: 50% !important;
}
#search_form .input-group > input:first-of-type {
    border-right: 0 !important;
}
#search_form button[type=submit] {
    margin-top: 6px;
    border-color: #00a0e5 !important;
}
.menu {
  margin-top: 5px;
  background: #00a0e4;
}
.navbar-right .our_phones {
	display:none !important;
	padding-left:20px;	
}
.fixed .navbar-right .our_phones {
	display:inline-block !important;
    margin-top:0;
}

ul.social-network {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.btn-primary {
    color: #00a0e5;
    background-color: #ffffff;
    border-color: #00a0e5 !important;
}
.btn-primary:hover {
	color: #1078ca;
	background-color: #ffffff;
    border-color: #1078ca !important;;
}
.btn-primary-o {
    color: #fff;
    background-color: #00a0e5;
    border-color: #fff !important;
	padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.btn-primary-o:hover {	
	background-color: #0974a4 !important;
	color: #fff !important;
}
.thumbnail {
	border-radius:0;
}
ul.social-network li {
    display: inline;
    margin: 0;
    font-size: 25px;
}

ul.social-network li a {
    color: #999;
}

.social-network li:hover .fa-twitter {
    color: #00abf0;
}

.social-network li:hover .fa-facebook {
    color: #39579a;
}

.social-network li:hover .fa-google-plus {
    color: #eb8984;
}

.social-network li:hover .fa-pinterest {
    color: #c9171e;
}

.social-network li:hover .fa-linkedin {
    color: #0077b5;
}

.social-network li:hover .fa-vk {
    color: #507299;
}

.social-network li:hover .fa-instagram {
    color: #ac3c9b;
}

.social-network li:hover .fa-youtube-play {
    color: #C84941;
}

.social-network li:hover .fa-dribbble {
    color: #EA4C89;
}

.social-network li:hover .fa-pinterest-square {
    color: #EA4B49;
}
.cates {
	margin-top:20px;
}
.tile {
    display: block;
    width: 100%;
    height: 250px;
    margin-bottom: 0;
}

.tile:hover .tile_bg {
    transform: scale(1.1);
}

.tile:hover .tile-o h3 {
    text-shadow: 1px 1px 2px #000;
}
.tile_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    transition: -webkit-transform 1s cubic-bezier(.215,.61,.355,1);
    transform-style: preserve-3d;
}

.tile_bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 60%);
}
.btn-default-o {
    color: #ffffff;
    background-color: #00a0e5;
    border: 1px solid #ffffff !important;
}
.btn-default-o:hover {
    background-color: #03A9F4;
	color:#fff;
}

.img-box {
    overflow: hidden;
    position: relative;
    background-color: #fafafa;
    margin-bottom: 0;
    border-radius:0;
}

.tile:hover .tile_bg:before {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
}
.tile-o {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    color: #FFF;
    padding: 20px 10px;
}
.tile-o h3 {
    margin:0;
	color: #FFF !important;
	font-size: 24px;
    text-transform: uppercase;
}

.tile-t h3, .tile-o span, h1.tile-t {
    letter-spacing: -0.025em;
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tile-o span {
    color: #fff;
    font-size: 14px;
}
.tile-c {
    position: absolute;
    right: 50%;
    margin-right: -75px;
    text-align: center;
    top: -40px;
    width: 150px;
    z-index: 10;
    color: #fff;
    line-height: 16px;    
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    transition:all .4s;
}
.tile:hover .tile-c {
    top: 0;
    background: rgba(0, 0, 0, 0.9);
}
.btn-phone {
	transition:all 1s;
	display:none;
}
.fixed {
	position: fixed;
    width: 100%;
    z-index: 1040;
	top:0
}
.fixed .btn-phone {
	display:inline-block;
}
.fixed .masthead {
	margin-top:0;
	margin-bottom:0;
    padding: 0;
}
.fixed {
	margin-top: 0;
    box-shadow: 0 0 5px #333;
	background:#fff;
}
.nav-fixed, .fixed .nav-non-fixed {
	display:none;
	padding-left: 30px;
    font-weight: bold;
}
.fixed .nav-fixed, .nav-non-fixed {
	display:block;
}
.form-control {
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #00a0e5;
    border-radius: 0;
}
.btn {
    font-size: 16px;
    border-radius: 0;
	padding: 5px 12px;
}
.dropdown-toggle {
    border: 1px solid #00a0e5 !important;
}
.navbar-brand, .navbar-feedback {
	display:none;
}
.navbar-brand > img {
    display: block;
    height: 34px;
    margin-top: -5px;
}
.fixed .navbar-brand {
	display:block;
    padding-left: 5px;
    padding-right: 5px;
}
.fixed .navbar-feedback {
    display:block;
    margin-top: 8px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #038dc9;
}
.fixed .nav .open > a, .fixed .nav .open > a:hover, .fixed .nav .open > a:focus {
    background-color: #eee;
}
.navbar-nav > li > .dropdown-menu, .open {
    background-color: #058cc9;
	border:0;
	font-size:16px;
}
.navbar-nav .open {
    background-color: #058cc9 !important;
}
.nav .dropdown-menu > li > a {
    padding: 10px 20px;    
    color: #ffffff;
}
@media (max-width: 768px){
    .container {		
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-left: 5px;
		padding-right: 5px;
	}
	.masthead {
		margin-top: 0;
        min-height: 50px;
	}
    .navbar-header {
        min-height: 50px;
    }
    .navbar-toggle {
        margin-top: 16px;
        border-radius: 0;
    }
    .address {
        font-size: 14px !important;
    }
    .masthead .our_phones {
        text-align: left;
    }
    .dropdown-submenu.open .dropdown-menu {
        background-color: #ffffff;
        border-radius: 0;
    }
    .navbar-form {
        min-height: 60px;
    }
	
	.footer img {
		width: 100px;
	}
    .fixed .nav-fixed {
        padding: 0 !important;
        margin: 0 !important;
    }
    .open {
        background-color: #ffffff;
    }
    .fixed .navbar-toggle {
        float:right;
        margin-top: 18px;
        margin-right: 10px;
    }
    .why .descr {
        padding: 60px 0 0 0;
        z-index: 2;
        min-height: 220px;
    }
    .why .number {
        position: absolute;
        left: inherit;
        right: 0;
        top: 0;
    }
    #owl-images .item {
        height: 200px !important;
    }

    #owl-thumbs .item {
        height: 50px !important;
    }
    .logo {
        padding-top: 10px;
    }
}
.dropdown-submenu>.dropdown-menu {
    border-radius: 0 !important;
}
.calc {
    padding: 25px;
    margin-top: 27px;
    background: #00a0e5;
    color: #eee;
}
.calc b {
    color: #fff;
}

@media (min-width: 768px) {
    .navbar-form input {
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    .navbar-form {
        position: absolute;
        right: 15px;
        width: 170px;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
    .fixed .navbar-form {
        position: static;
    }
    .navbar-form:focus, .navbar-form:hover {
        width: auto;
    }
}
    .btn-feedback {
    margin-top: 10px;
}
.tile h4 {
    position:absolute;
	bottom:195px;
	right:-200px;
	display:block;
	color:#fff;	
	margin: 10px;
	z-index:11;
	font-size:24px;
	letter-spacing: -0.025em;
	text-shadow: 2px 2px 4px #000;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.tile:hover h4 {    
	right:0;
}
.bootstrap-select .dropdown-toggle:focus {
	outline:0 !important;
}
.dropdown-menu {    
    padding: 10px 0;    
    border-radius: 0;
	font-size:16px;
}
.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-submenu .dropdown-toggle {
    border-color: #ffffff !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: 0 !important;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}
.has-error .form-control {    
    background: #ffedeb;    
}
.has-success .form-control {    
    background: #fff;    
}
.text-bold {
    font-weight: bold;
}
#owl-images .item {
    background: #FFFFFF;
    padding: 0;
    margin: 5px;
    color: #FFF;
    text-align: center;
    height: 350px;
    background-size: cover;
}

#owl-thumbs .item {
    background: #FFFFFF;
    padding: 0;
    margin: 5px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    height: 80px;
    background-size: cover;
}
#owl-thumbs .current{
    background: #FFFFFF;
}
.owl-theme .owl-nav [class*="owl-"] {
    transition: all 0.3s ease;
    background: #ffffffc7;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.owl-theme .owl-nav [class*="owl-"].disabled:hover {
    background-color: #FFFFFF;
}

#owl-images.owl-theme,#owl-thumbs.owl-theme {
    position: relative;
}
#owl-images.owl-theme .owl-next,
#owl-images.owl-theme .owl-prev{
    width: 50px;
    height: 50px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
}
#owl-thumbs.owl-theme .owl-next,
#owl-thumbs.owl-theme .owl-prev{
    width: 30px;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}
#owl-images.owl-theme .owl-prev,#owl-thumbs.owl-theme .owl-prev {
    left: 0;
}
#owl-images.owl-theme .owl-next,#owl-thumbs.owl-theme .owl-next {
    right: 0;
}
.nobreak {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.fixed + .content {
    margin-top: 54px;
}
.pagination {
    margin: 0;
    border-radius: 0 !important;
}
.pagination > li > a, .pagination > li > span,
.pagination > .disabled > span, .pagination > .disabled > span:hover,
.pagination > .disabled > span:focus, .pagination > .disabled > a,
.pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    border-color: #00a0e5;
    border-radius: 0 !important;
}
.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #03A9F4;
    border-color: #00a0e4;
}
.plan_desc {
    height: 120px;
    overflow: hidden;
    opacity: .9;
    font-size: 12px;
}